# PostgreSQL Prisma Connection URL
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/auto_pr_db?schema=public"
DOCKER_DATABASE_URL="postgresql://postgres:your_password@host.docker.internal:5432/auto_pr_db?schema=public"
POSTGRES_HOST_PORT=5434